<html>
<body>
    <form method="post" action="/account/logon?ReturnUrl=@ViewBag.ReturnUrl">
        <input placeholder="user name" name="userName" />
        <input placeholder="password" type="password" name="password" />
        <input type="submit" name="Sign In" />
    </form>
</body>
</html>